body,
h1,
li,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  margin: 10px auto;
  width: 95%;
  border-top: 10px solid rgba(240, 248, 255, 0.507);
}
ul,
li {
  list-style: none;
}

section {
  margin-bottom: 30px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
}

.status,
.payment-methods,
.total {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(148, 50, 50);
}

.status {
  border-bottom: 1px solid rgb(148, 50, 50);
}

table {
  text-align: center;
  margin: 0 auto;
  border-spacing: 0;
}

table td,
table th {
  padding: 0.5rem 1rem;
}

table tr:nth-child(even) {
  background: aliceblue;
}

.table-head {
  font-weight: bold;
  font-size: 1.2rem;
}

.table-body {
  font-size: 1rem;
}
